<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title> Liberia Web - Lista de Clientes </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/estilo-pagina.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </head>
    <body>        
        <nav th:replace="/fragments/nav-bar :: nav-bar"> </nav>
        <br>    
        <h1 align="center"> Lista de Clientes </h1>        
        <br>    
        <p style="color: #ffffff" th:if="${clientes.isEmpty}" th:text="'No hay clientes para mostrar'"> </p>
        <p style="color: #ffffff" th:if="${excepcion != null}" th:text="${excepcion}"> </p>
        <p style="color: #ffffff" th:if="${validacion != null}" th:text="${validacion}"> </p>

        <table class="table table-dark table-sm">
            <thead>
                <tr>
                    <th scope="col">Nº</th>
                    <th scope="col">ID</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Alta</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>                
                 <tr th:each=" p, iterator : ${clientes}">                    
                    <th scope="row" th:text="${iterator.index+1}"> </td>
                    <td th:text="${p.id}"> </td>
                    <td th:text="${p.documento}"> </td>
                    <td th:text="${p.nombre}"> </td>
                    <td th:text="${p.apellido}"> </td>
                    <td th:text="${p.telefono}"> </td>
                    <td th:text="${p.alta}"> </td>                    
                    <td>
                        <button> <a th:href="@{/cliente/eliminar}+'?id='+${p.id}"> Eliminar </a> </button>
                        <button> <a th:href="@{/cliente/crear}+'?id='+${p.id}"> Editar nombre </a> </button>
                        <button> <a th:href="@{/cliente/darBaja}+'?id='+${p.id}"> Dar de baja </a> </button>
                        <button> <a th:href="@{/cliente/darAlta}+'?id='+${p.id}"> Dar de alta </a> </button>
                    </td>                    
                </tr>                
            </tbody>
        </table>        
    </body>
</html>